:root {
  --ev-c-white: #ffffff;
  --ev-c-white-soft: #f8f8f8;
  --ev-c-white-mute: #f2f2f2;

  --ev-c-black: #1b1b1f;
  --ev-c-black-soft: #222222;
  --ev-c-black-mute: #282828;

  --ev-c-gray-1: #515c67;
  --ev-c-gray-2: #414853;
  --ev-c-gray-3: #32363f;

  --ev-c-text-1: rgba(255, 255, 245, 0.86);
  --ev-c-text-2: rgba(235, 235, 245, 0.6);
  --ev-c-text-3: rgba(235, 235, 245, 0.38);

  --ev-button-alt-border: transparent;
  --ev-button-alt-text: var(--ev-c-text-1);
  --ev-button-alt-bg: var(--ev-c-gray-3);
  --ev-button-alt-hover-border: transparent;
  --ev-button-alt-hover-text: var(--ev-c-text-1);
  --ev-button-alt-hover-bg: var(--ev-c-gray-2);
}

:root {
  --color-background: var(--ev-c-black);
  --color-background-soft: var(--ev-c-black-soft);
  --color-background-mute: var(--ev-c-black-mute);

  --color-text: var(--ev-c-text-1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

/* Customizing scrollbar */
::-webkit-scrollbar {
  width: 2px; /* 设置滚动条宽度为2px */
}

::-webkit-scrollbar-track {
  background: transparent; /* 使轨道透明 */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5); /* 半透明的滚动条颜色 */
  border-radius: 20px; /* 圆角 */
  border: transparent; /* 透明边框 */
}

/* 悬停时稍微增加不透明度 */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(155, 155, 155, 0.7);
}

/* 适配暗黑模式 */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 0.3);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(200, 200, 200, 0.5);
  }
}

/* 为所有可滚动元素添加这些样式 */
html,
body,
.scrollable-container {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}
